* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/** TYPOGRAPHY **/

  /** header **/
.page-title {
  font-size: 2rem;
  line-height: 1.2;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

h2 {
  margin: 0;
}

/** HEADER **/

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2.25em;
  gap: 2em;
/*   padding: 2em 4em; */
}

/** search bar **/

form {
  width: 100%;
  position: absolute;
  top: -1.325em;
  display: flex;
  justify-content: center;    
}

input, .search-btn {
  border: 1px solid #D1D5DB;
  padding: 1em;
}

input {
  max-width: 60vw;
  border-radius: 5px 0 0 5px;;
}

.search-btn {
/* padding: 0 2em; */
  border-radius: 0 5px 5px 0;
}

/** MAIN **/

main {
  position: relative;
}

.movie-container {
  display: flex;
  flex-direction: column;
}

/** MOVIE CARD **/

.movie-card {
  margin: 3em 2em 2em 2em;
  display: flex;
  flex-direction: column;
}

.movie-poster {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.movie-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.movie-details-container {
  display: flex;
  align-items: center;
  margin: -0.625em 0;
  gap: 0.625rem;
}

.add-movie-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 5px;
}

.add-movie-btn i {
  margin-top: 1px
}
/* 
.movie-synopsis {
  text-align: justify;
}
 */
/** MEDIA QUERIES **/

@media (min-width: 480px) {
  .page-title {
    font-size: 2.4rem;
  }

  input {
    min-width: 70vw;
  }
}

@media (min-width: 768px) {
  header {
    padding: 2em 3.25em;
  }
}