* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/** TYPOGRAPHY **/

  /** header **/
.page-title {
  font-size: 2rem;
  line-height: 1.2;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

/** HEADER **/

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2.25em;
  gap: 2em;
/*   padding: 2em 4em; */
}

/** search bar **/

form {
  width: 100%;
  position: absolute;
  top: -1.325em;
  display: flex;
  justify-content: center;    
}

input, .search-btn {
  border: 1px solid #D1D5DB;
  padding: 1em;
}

input {
  max-width: 60vw;
  border-radius: 5px 0 0 5px;;
}

.search-btn {
/* padding: 0 2em; */
  border-radius: 0 5px 5px 0;
}

main {
  position: relative;
}

/** MEDIA QUERIES **/

@media (min-width: 480px) {
  .page-title {
    font-size: 2.4rem;
  }

  input {
    min-width: 70vw;
  }
}

@media (min-width: 768px) {
  header {
    padding: 2em 3.25em;
  }
}