* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/** TYPOGRAPHY **/

  /** header **/
.page-title {
  font-size: 2rem;
  line-height: 1.2;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

h2 {
  margin: 0;
}

/** HEADER **/

.header {
  background: url('img/header1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15% 50%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2.25em;
  gap: 2em;
}

/** search bar **/

form {
  width: 100%;
  position: absolute;
  top: -1.325em;
  display: flex;
  justify-content: center;
}

.fa-magnifying-glass {
  position: relative;
  left: 1.75em;
  top: 0.9em;
  color: gray;
}

input, .search-btn {
  border: 1px solid #D1D5DB;
  padding: 1em;
}

input {
  max-width: 60vw;
  border-radius: 5px 0 0 5px;
}

.search-input {
  padding-left: 2.5em;
}

.search-btn {
/* padding: 0 2em; */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/** MAIN **/

main {
  position: relative;
}

.explore-div, .error-div {
  margin: 10em;
  text-align: center;
  color: #DFDDDD;
  font-weight: bold;
  font-size: 20px;
}

.error-div {
  margin: 10em 2em;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** MOVIE CARD **/

.movie-card:first-of-type {
  margin-top: 3em;
}

.movie-card:last-of-type {
  margin-bottom: 2em;
}

.movie-card {
  max-width: 82%;
  margin: 1em 2em 0 2em;
  display: flex;
  flex-direction: column;
}

.movie-poster {
  width: 70%;
  margin: 0 auto 1em;
  display: block;
}

.movie-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.movie-rating {
  margin: 0;
  text-align: center;
}

.fa-star {
  color: #FEC654;
  margin-right: 0.25em;
}


.movie-details-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: -0.625em 0;
  gap: 0.625rem;
}

.movie-genres {
  text-align: center;
}

#add-movie-btn, #add-movies-btn, #remove-movie-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 5px;
  cursor: pointer;
}

#add-movie-btn i, #add-movies-btn i, #remove-movie-btn i {
  margin-top: 1px
}

#add-movies-btn {
  margin: 0 auto;
}

.movie-synopsis {
  width: 100%;
  margin: 0.625em;
}

hr {
  width: 82%;
}

hr:last-of-type {
  display: none;
}

/** MEDIA QUERIES **/

@media (min-width: 480px) {
  .page-title {
    font-size: 2.4rem;
  }

  input {
    min-width: 70vw;
    max-width: 83vw;
  }

  .movie-card {
    max-width: 83vw;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .movie-poster {
    max-width: 30%;
    object-fit: contain;
    margin: 0 2em 1em auto;
  }

  .movie-details-container {
    justify-content: center;
  }
}

@media (min-width: 650px) {
  .movie-poster {
    max-width: 25%;
    object-fit: contain;
    margin: 1em 2em 1em 0;
  }
}

@media (min-width: 768px) {
  header {
    padding: 2em 3.25em;
  }

  .search-btn {
    padding: 0 2.5em;
  }

  .movie-info-container {
    text-align: start;
    align-items: flex-start;
    justify-content: center;
  }

  .movie-details-container {
    justify-content: flex-start;
  }

  .movie-synopsis {
    margin-left: 0;
  }
}